<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-select.min.css}">

    <style>
        h1 {
            font-size: 20px;
        }

        h2 {
            font-size: 18px;
        }

        .label-min-width {
            min-width: 220px;
        }

        #history-table td:first-child {
            min-width: 120px;
        }
    </style>

    <title>Welcome to Coinrate</title>

    <script th:inline="javascript">

        function runAtMidnight() {
            // Your code here
            //console.log("Running at midnight (UTC)");
        }

        function buildTable(historyRates, tbodyElement) {
            for (let i = 0; i < historyRates.length; i++) {
                let divElement = document.createElement('div');
                divElement.setAttribute('class', 'input-group mb-2');

                let valueCell = document.createElement('div');
                valueCell.setAttribute('class', 'input-group-prepend');

                let valueLabel = document.createElement('label');
                valueLabel.setAttribute('class', 'input-group-text label-min-width');
                valueLabel.textContent = historyRates[i].displayRate;

                valueCell.appendChild(valueLabel);

                divElement.appendChild(valueCell);

                let dateCell = document.createElement('div');
                dateCell.setAttribute('type', 'text');
                dateCell.setAttribute('class', 'form-control');
                dateCell.textContent = historyRates[i].displayRateDate;

                divElement.appendChild(dateCell);

                tbodyElement.appendChild(divElement);
            }
        }

        function scheduleMidnightTask() {
            // Get the current UTC date
            let currentDate = new Date();

            // Calculate the time until the next UTC midnight
            let timeUntilMidnight = new Date(
                currentDate.getUTCFullYear(),
                currentDate.getUTCMonth(),
                currentDate.getUTCDate() + 1, // Tomorrow
                0, // Hours
                30, // Minutes
                0 // Seconds
            ) - currentDate;

            // Set up the interval to run at midnight (UTC)
            setTimeout(function () {
                runAtMidnight();
                // Schedule the next midnight task (UTC)
                scheduleMidnightTask();
            }, timeUntilMidnight);
        }

        // Call the function to start scheduling the task
        scheduleMidnightTask();


        function sendDetectIpRequest() {

            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/detect-ip", true);

            xhr.onload = function () {
                if (xhr.status === 200) {
                    document.getElementById("ip-address-input").value = xhr.responseText;
                } else {
                    // Handle error cases
                    console.log("Error: " + xhr.status);
                }
            };
            xhr.send();
        }


        function sendChangeCoinRequest() {

            let params = {
                coinCode: document.getElementById("coins-dropdown").value,
                daysCount: document.getElementById("input-days-count").value

            };

            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/change-coin", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function () {
                if (xhr.status === 200) {

                    let response = JSON.parse(xhr.responseText);
                    document.getElementById("current-rate-input").value = response.rateForm.displayRate;
                    document.getElementById("update-time-input").value = response.rateForm.displayUpdateDateTime;


                    let tbodyElement = document.getElementById('history-table-body');
                    tbodyElement.innerHTML = '';
                    let historyRates = response.historyRatesForm;

                    buildTable(historyRates, tbodyElement);


                } else {
                    // Handle error cases
                    console.log("Error: " + xhr.status);
                }
            };
            xhr.send(JSON.stringify(params));
        }

        function sendChangeIpRequest() {

            let params = {
                coinCode: document.getElementById("coins-dropdown").value,
                daysCount: document.getElementById("input-days-count").value,
                ipAddress: document.getElementById("ip-address-input").value
            };

            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/change-ip", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function () {

                if (xhr.status === 200) {

                    let response = JSON.parse(xhr.responseText);

                    let localeForm = response.localeForm;

                    document.getElementById("country-input").value = localeForm.country;
                    document.getElementById("currency-input").value = localeForm.currency;
                    if (localeForm.localeNotFound) {
                        document.getElementById("ip-status-input").value = "IP Address is not found, using default settings.";
                    } else {
                        document.getElementById("ip-status-input").value = "Locale detected successfully.";
                    }

                    document.getElementById("current-rate-input").value = response.rateForm.displayRate;
                    document.getElementById("update-time-input").value = response.rateForm.displayUpdateDateTime;


                    let tbodyElement = document.getElementById('history-table-body');
                    tbodyElement.innerHTML = '';
                    let historyRates = response.historyRatesForm;

                    buildTable(historyRates, tbodyElement);

                } else {
                    // Handle error cases
                    console.log("Error: " + xhr.status);
                }
            };
            xhr.send(JSON.stringify(params));
        }

        function sendUpdateCurrentRateRequest() {

            let params = {
                coinCode: document.getElementById("coins-dropdown").value,
                daysCount: document.getElementById("input-days-count").value
            };

            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/update-current-rate", true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onload = function () {
                if (xhr.status === 200) {
                    let response = JSON.parse(xhr.responseText);
                    document.getElementById("current-rate-input").value = response.displayRate;
                    document.getElementById("update-time-input").value = response.displayUpdateDateTime;
                } else {
                    // Handle error cases
                    console.log("Error: " + xhr.status);
                }
            };
            xhr.send(JSON.stringify(params));
        }

        function sendChangeDaysCountRequest() {

            let params = {
                coinCode: document.getElementById("coins-dropdown").value,
                daysCount: document.getElementById("input-days-count").value
            };

            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/change-days-count", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function () {
                if (xhr.status === 200) {

                    let response = JSON.parse(xhr.responseText);

                    let tbodyElement = document.getElementById('history-table-body');
                    tbodyElement.innerHTML = '';

                    buildTable(response, tbodyElement);

                } else {
                    // Handle error cases
                    console.log("Error: " + xhr.status);
                }
            };
            xhr.send(JSON.stringify(params));
        }

    </script>
</head>
<body>

<div class="container-fluid text-center">

    <div class="container d-flex justify-content-center align-items-center">
        <div class="row align-items-center">
            <div class="col-auto">
                <label th:text="'Welcome back, ' + ${#authentication.name} + '!'">Unknown User</label>
            </div>
            <div class="col">
                <a href="javascript: document.logoutForm.submit()">Logout</a>

                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </div>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div id="page-content">
            <div class="container d-flex justify-content-center align-items-center">
                <div class="border border-secondary p-3 rounded">

                    <form id="coin-rates-form" th:object="${pageForm}">
                        <input type="hidden" name="token" th:value="${pageForm.token}"/>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text label-min-width" for="coins-dropdown">Crypto Currency:</label>
                            </div>

                            <select id="coins-dropdown" name="coins-dropdown" class="selectpicker form-control" data-live-search="true"
                                    th:field="${pageForm.selectedCoin}" onchange="sendChangeCoinRequest();" required>
                                <option th:each="option : ${pageForm.supportedCoins}" th:value="${option}"
                                        th:text="${option}"></option>
                            </select>

                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text label-min-width" for="ip-address-input">IP address
                                    (optional):</label>
                            </div>

                            <input id="ip-address-input" type="text" class="form-control"
                                   pattern="^([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}$|^((([0-9a-fA-F]{1,4}:){0,5})?([0-9a-fA-F]{1,4})?::(([0-9a-fA-F]{1,4}:){0,5})?[0-9a-fA-F]{1,4})$|^((([0-9]{1,3}\.){3}[0-9]{1,3}))$"
                                   th:field="*{ipAddress}" required >
                            <span class="input-group-btn">
                                <button class="btn border border-secondary" type="button" onclick="sendDetectIpRequest();">Detect</button>
                                <button class="btn border border-secondary" type="button" onclick="sendChangeIpRequest();">Apply</button>
                            </span>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text label-min-width" for="ip-status-input">Locale settings status</label>
                            </div>

                            <input id="ip-status-input" type="text" class="form-control"
                                   th:value ="${pageForm.localeForm.localeNotFound} ? 'IP Address is not found, using default settings.' : 'Locale detected successfully.'" readonly>

                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text label-min-width" for="country-input">Country By IP</label>
                            </div>

                            <input id="country-input" type="text" class="form-control"
                                   th:field="${pageForm.localeForm.country}" readonly>

                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text label-min-width" for="currency-input">Local Currency</label>
                            </div>

                            <input id="currency-input" type="text" class="form-control"
                                   th:field="${pageForm.localeForm.currency}" readonly>

                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text label-min-width" for="current-rate-input">Current Rate</label>
                            </div>

                            <input id="current-rate-input" type="text" class="form-control"
                                   th:field="${pageForm.currentRateForm.displayRate}" readonly>

                            <span class="input-group-btn">
                                <button class="btn border border-secondary" type="button" onclick="sendUpdateCurrentRateRequest();">Update</button>
                            </span>

                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text label-min-width" for="update-time-input">Current Rate Update Time</label>
                            </div>

                            <input id="update-time-input" type="text" class="form-control"
                                   th:field="${pageForm.currentRateForm.displayUpdateDateTime}" readonly>

                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text label-min-width" for="input-days-count">Rates History Length</label>
                            </div>

                            <select class="form-select" id="input-days-count" onchange="sendChangeDaysCountRequest();">
                                <option th:each="i : ${#numbers.sequence(1, pageForm.historySettings.historyDaysCountLimit)}" th:value="${i}" th:text="${i} + ' Day' + (${i>1}? 's':'') "
                                        th:selected="${i==pageForm.historySettings.historyDaysCountDefault}"></option>
                            </select>



                        </div>
                        <br/>
                    </form>
                    <h6>Rate History</h6>
                    <div class="row">
                        <div id="history-table-body" class="col">
                            <div th:each="data : ${pageForm.historyRateForms}">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text label-min-width" for="currency-input" th:text="${data.displayRate}"></label>
                                    </div>
                                    <div class="form-control" th:text="${data.displayRateDate}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap.bundle.min.js}"></script>
<script th:src="@{/bootstrap-select.min.js}"></script>

</body>
</html>