<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css}">

    <style>
        h1 {
            font-size: 20px;
        }

        h2 {
            font-size: 18px;
        }

        .label-min-width {
            min-width: 220px;
        }

        #ip-address-tooltip {
            margin-left: 220px;
            width: 216px;
            border-top-right-radius: var(--bs-border-radius);
            border-bottom-right-radius: var(--bs-border-radius);
        }

        #history-table td:first-child {
            min-width: 120px;
        }

        #ip-address-input {
            padding-right: .75rem;
        }

        #current-rate-input {
            min-width: 300px;
        }
    </style>

    <title>Welcome to Coinrate</title>

    <script th:inline="javascript">

        function runAtMidnight() {
            // Your code here
            //console.log("Running at midnight (UTC)");
        }

        function setNormalBorder() {
            let ipInput = document.getElementById("ip-address-input")
            ipInput.setAttribute("class", "form-control");
        }

        function buildTable(historyRates, tbodyElement) {
            for (let i = 0; i < historyRates.length; i++) {
                let divElement = document.createElement('div');
                divElement.setAttribute('class', 'input-group mb-2');

                let valueCell = document.createElement('div');
                valueCell.setAttribute('class', 'input-group-prepend');

                let valueLabel = document.createElement('label');
                valueLabel.setAttribute('class', 'input-group-text label-min-width');
                valueLabel.textContent = historyRates[i].formattedRateDate;

                valueCell.appendChild(valueLabel);

                divElement.appendChild(valueCell);

                let dateCell = document.createElement('div');
                dateCell.setAttribute('type', 'text');
                dateCell.setAttribute('class', 'form-control text-start');
                dateCell.textContent = historyRates[i].formattedRate;

                divElement.appendChild(dateCell);

                tbodyElement.appendChild(divElement);
            }
        }

        function scheduleMidnightTask() {
            // Get the current UTC date
            let currentDate = new Date();

            // Calculate the time until the next UTC midnight
            let timeUntilMidnight = new Date(
                currentDate.getUTCFullYear(),
                currentDate.getUTCMonth(),
                currentDate.getUTCDate() + 1, // Tomorrow
                0, // Hours
                30, // Minutes
                0 // Seconds
            ) - currentDate;

            // Set up the interval to run at midnight (UTC)
            setTimeout(function () {
                runAtMidnight();
                // Schedule the next midnight task (UTC)
                scheduleMidnightTask();
            }, timeUntilMidnight);
        }

        // Call the function to start scheduling the task
        scheduleMidnightTask();


        function sendDetectIpRequest() {

            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/detect-ip", true);

            xhr.onload = function () {
                if (xhr.status === 200) {
                    document.getElementById("ip-address-input").value = xhr.responseText;
                } else {
                    // Handle error cases
                    console.log("Error: " + xhr.status);
                }
            };
            xhr.send();
        }


        function sendChangeCoinRequest() {

            let params = {
                coinCode: document.getElementById("coins-dropdown").value,
                daysCount: document.getElementById("input-days-count").value

            };

            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/change-coin", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function () {
                if (xhr.status === 200) {

                    let response = JSON.parse(xhr.responseText);
                    document.getElementById("current-rate-input").innerHTML = response.rateForm.formattedRate;
                    document.getElementById("update-time-input").innerHTML = response.rateForm.formattedUpdateDateTime;
                    document.getElementById("update-request-time-input").innerHTML = response.rateForm.formattedUpdateRequestDateTime;

                    let tbodyElement = document.getElementById('history-table-body');
                    tbodyElement.innerHTML = '';
                    let historyRates = response.historyRatesForm;

                    buildTable(historyRates, tbodyElement);


                } else {
                    // Handle error cases
                    console.log("Error: " + xhr.status);
                }
            };
            xhr.send(JSON.stringify(params));
        }

        function validateIPAddress(ipAddress) {
            const ipRegex = /^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$|^([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}$/;
            return ipRegex.test(ipAddress);
        }

        function sendChangeIpRequest() {
            let ipInput = document.getElementById("ip-address-input")

            if (validateIPAddress(document.getElementById("ip-address-input").value)) {

                let params = {
                    coinCode: document.getElementById("coins-dropdown").value,
                    daysCount: document.getElementById("input-days-count").value,
                    ipAddress: document.getElementById("ip-address-input").value
                };

                let xhr = new XMLHttpRequest();
                xhr.open("POST", "/change-ip", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onload = function () {

                    if (xhr.status === 200) {

                        let response = JSON.parse(xhr.responseText);

                        let localeForm = response.localeForm;

                        document.getElementById("country-input").innerHTML = localeForm.country;
                        document.getElementById("currency-input").innerHTML = localeForm.currency;
                        if (localeForm.localeNotFound) {
                            document.getElementById("ip-status-input").innerHTML = "IP Address is not found, using default settings.";
                        } else {
                            document.getElementById("ip-status-input").innerHTML = "Locale detected successfully.";
                        }

                        document.getElementById("current-rate-input").innerHTML= response.rateForm.formattedRate;
                        document.getElementById("update-time-input").innerHTML = response.rateForm.formattedUpdateDateTime;
                        document.getElementById("update-request-time-input").innerHTML = response.rateForm.formattedUpdateRequestDateTime;


                        let tbodyElement = document.getElementById('history-table-body');
                        tbodyElement.innerHTML = '';
                        let historyRates = response.historyRatesForm;

                        buildTable(historyRates, tbodyElement);
                        ipInput.setAttribute("class", "form-control");

                    } else {
                        ipInput.setAttribute("class", "form-control is-invalid");
                        ipInput.focus();
                        // Handle error cases
                        console.log("Error: " + xhr.status);
                    }
                };
                xhr.send(JSON.stringify(params));
            }
            else {
                ipInput.setAttribute("class", "form-control is-invalid");
                ipInput.focus();
                console.log("Error: Invalid IP");
            }


        }

        function sendUpdateCurrentRateRequest() {

            let params = {
                coinCode: document.getElementById("coins-dropdown").value,
                daysCount: document.getElementById("input-days-count").value
            };

            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/update-current-rate", true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onload = function () {
                if (xhr.status === 200) {
                    let response = JSON.parse(xhr.responseText);
                    document.getElementById("current-rate-input").value = response.formattedRate;
                    document.getElementById("update-time-input").value = response.formattedUpdateDateTime;
                    document.getElementById("update-request-time-input").innerHTML = response.formattedUpdateRequestDateTime;
                } else {
                    // Handle error cases
                    console.log("Error: " + xhr.status);
                }
            };
            xhr.send(JSON.stringify(params));
        }

        function sendChangeDaysCountRequest() {
            let params = {
                coinCode: document.getElementById("coins-dropdown").value,
                daysCount: document.getElementById("input-days-count").value
            };

            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/change-days-count", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = function () {
                if (xhr.status === 200) {
                    let response = JSON.parse(xhr.responseText);
                    let tbodyElement = document.getElementById('history-table-body');
                    tbodyElement.innerHTML = '';
                    buildTable(response, tbodyElement);
                } else {
                    // Handle error cases
                    console.log("Error: " + xhr.status);
                }
            };
            xhr.send(JSON.stringify(params));
        }
    </script>
</head>
<body>

<div class="container-fluid text-center">

    <div class="container d-flex justify-content-center align-items-center">
        <div class="row align-items-center">
            <div class="col-auto">
                <label th:text="'Welcome back, ' + ${#authentication.name} + '!'">Unknown User</label>
            </div>
            <div class="col">
                <a href="javascript: document.logoutForm.submit()">Logout</a>

                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </div>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div id="page-content">
            <div class="container d-flex justify-content-center align-items-center">
                <div class="border border-secondary p-3 rounded">
                    <form id="coin-rates-form" th:object="${pageForm}">
                        <input type="hidden" name="token" th:value="${pageForm.token}"/>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text label-min-width" for="coins-dropdown">Crypto Currency:</label>
                            </div>
                            <select id="coins-dropdown" name="coins-dropdown" class="selectpicker form-control" data-live-search="true"
                                    th:field="${pageForm.selectedCoin}" onchange="sendChangeCoinRequest();" required>
                                <option th:each="option : ${pageForm.supportedCoins}" th:value="${option}"
                                        th:text="${option}"></option>
                            </select>
                        </div>
                        <div class="mb-2 position-relative">
                            <div class="input-group">
                                <label class="input-group-text label-min-width" for="ip-address-input">IP address (optional):</label>
                                <input id="ip-address-input" type="text" class="form-control" onblur="setNormalBorder()"
                                   pattern="^([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}$|^((([0-9a-fA-F]{1,4}:){0,5})?([0-9a-fA-F]{1,4})?::(([0-9a-fA-F]{1,4}:){0,5})?[0-9a-fA-F]{1,4})$|^((([0-9]{1,3}\.){3}[0-9]{1,3}))$"
                                   th:field="*{ipAddress}" required >
                                <div id="ip-address-tooltip" class="invalid-tooltip">
                                    IP Address is not valid.
                                </div>
                                <button class="btn btn-outline-secondary" type="button" onclick="sendDetectIpRequest();">Detect</button>
                                <button class="btn btn-outline-secondary" type="button" onclick="sendChangeIpRequest();">Apply</button>
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group">
                                <label class="input-group-text label-min-width" for="ip-status-input">Locale settings status</label>

                            <div id="ip-status-input" class="input-group-text"
                                 th:text="${pageForm.localeForm.localeNotFound} ? 'IP Address is not found, using default settings.' : 'Locale detected successfully.'">
                            </div>
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text label-min-width" for="country-input">Country By IP</label>
                            </div>
                            <div id="country-input" class="input-group-text"
                                 th:text="${pageForm.localeForm.country}">
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text label-min-width" for="currency-input">Local Currency</label>
                            </div>
                            <div id="currency-input"  class="input-group-text" th:text="${pageForm.localeForm.currency}"></div>
                        </div>
                        <div class="mb-2 position-relative">
                            <div class="input-group">
                                <label class="input-group-text label-min-width" for="current-rate-input">Current Rate</label>
                                <span id="current-rate-input" class="input-group-text" th:text="${pageForm.currentRateForm.formattedRate}"></span>
                                <button class="btn btn-outline-secondary" type="button" onclick="sendUpdateCurrentRateRequest();">Update</button>
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text label-min-width" for="update-request-time-input">Current Rate Request Time</label>
                            </div>
                            <div id="update-request-time-input" class="input-group-text"
                                 th:text="${pageForm.currentRateForm.formattedUpdateRequestDateTime}">
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text label-min-width" for="update-time-input">Current Rate Update Time</label>
                            </div>
                            <div id="update-time-input" class="input-group-text"
                                   th:text="${pageForm.currentRateForm.formattedUpdateDateTime}">
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text label-min-width" for="input-days-count">Rates History Length</label>
                            </div>
                            <select class="form-select" id="input-days-count" onchange="sendChangeDaysCountRequest();">
                                <option th:each="i : ${#numbers.sequence(1, pageForm.historySettings.historyDaysCountLimit)}" th:value="${i}" th:text="${i} + ' Day' + (${i>1}? 's':'') "
                                        th:selected="${i==pageForm.historySettings.historyDaysCountDefault}"></option>
                            </select>
                        </div>
                        <br/>
                    </form>
                    <h6>Rate History</h6>
                    <div class="row">
                        <div id="history-table-body" class="col">
                            <div th:each="data : ${pageForm.historyRateForms}">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text label-min-width" for="currency-input" th:text="${data.formattedRateDate}"></label>
                                    </div>
                                    <div class="input-group-text" th:text="${data.formattedRate}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js}"></script>
</body>
</html>